<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PS. Account Activation</title>
    
</head>
<body>
    <div style="width:60%;margin:20px auto; text-align: center;">
        <div style="text-align: center; font-size: 1.5rem;margin-bottom: 3px; color:#fbbc05;">PS.</div>
        Congrats, your account has been created successfully.
        Click the button below to activate.
        
        <a style="color: #ffffff;text-decoration: none;" target="_blank" href="{{ activationLink }}">
            <div style="width: 100px;
            background: #fbbc05;
            padding: 20px;
            
            margin: 10px auto;">
                
                    Activate Now
            </div>
        </a>

        <div>
            If you did not sign up on <a href="#" target="_blank"  style=color:#fbbc05;>PS.</a>  ,please ignore
        </div>
    </div>

    <div class="test" style="
    
    ">
        Testing content
    </div>
</body>

</html>